@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-text{
    background: #E7F0E4;
    background: linear-gradient(to bottom, #E7F0E4 34%, #C9F990 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.brand{
    display: flex !important;
    justify-content: center !important;
}
#blog-card{
    background: rgba( 37, 36, 36, 0.55 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.168);
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
@media only screen and (max-width: 412px){
    *{
        overflow-x: hidden;
    }
    nav{
        padding-left: 2rem !important;
        padding-right: 0 !important;
    }
    #logo{
        scale: .8;
        width: 35%;
    }
    .left{
        scale: .7;
    }
    #hero-section h1{
        font-size: 2.9rem;
        width: 300px;
    }
    #hero-section p{
        width: 300px;
    }
    #btn{
        scale: .8;
    }
    #brand-header{
        width: 500px;
        font-size: 2rem;
        padding-left: 2rem;
    }
    .brand img{
        margin-left: 1rem !important;
        scale: .9;
    }
    #details{
        padding-left: 0;
        padding-right: 0;
        gap: 2rem;
    }
    #details h3{
        font-size: 2rem;
    }
    #service-tab{
        padding: 2rem;
    }
    #service-tab h1{
        font-size: 2rem;
    }
    #process-heading{
        padding: 2rem;
        width: 95%;
    }
    #process-heading h1{
        font-size: 2rem;
    }
}
@media only screen and (max-width: 412px){
    html{
        font-size: 15px;
    }
    #brand-header{
        width: 450px;
        font-size: 2rem;
        padding-left: 2rem;
    }
    .service-img{
        height: 21rem;
    }
}